.header-border-bottom {
    border-bottom: 0.3px solid #3d3d3f;
}

.lang-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang-select {
    border-radius: 5px;
}

.form-select {
    background: var(--black);
    color: var(--white);
}

a, button {
    color: var(--white) !important;
}

ul {
    background: var(--black) !important;
}

.dropdown-menu {
    border: solid 1px var(--white);
    min-width: 100%;
}

.dropdown-menu a {
    background: inherit !important;
}

.flag_img {
    max-width: 20px;
    max-height: 20px;
}