:root {
    --black: #171718;
    --white: #FAFAFA;
    --blue: #272a79;;
}

* {
    background: var(--black);
    color: var(--white);
}

.btn-blue {
    background-color: var(--blue);
}

.btn-blue:hover {
    background-color: var(--blue);
}