:root {
    --black: #171718;
    --white: #FAFAFA;
    --blue: #272a79;;
}

* {
    background: var(--black);
    color: var(--white);
    font-family: 'Rubik', sans-serif;
}

.btn-blue {
    background-color: var(--blue) !important;
}

.btn-blue:hover {
    background-color: var(--blue);
}

.border-bottom-blue {
    border-bottom: solid 5px var(--blue);
    padding-bottom: 0;
}